.contact{
    background-color:antiquewhite;
    width:400px;
    margin:100px;
    padding:20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);


}
body{
    background-color: white;
}
h1{
    text-align: center;
}
button{
    width:40%;
    padding:20px;
    background-color:chartreuse;
    color:black;
    margin-left: 110px;
    border-radius: 5px;


}
input{
    width:90%;
    padding:20px;
    border-radius: 4px;
    margin:10px;

}
textarea{
    width:90%;
    padding: 20px;
    margin:10px;
    border-radius: 5px;
}